/* Elements */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Title Section */

#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 6%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.btn-lg {
  margin: 5% 3% 5% 0;
}

.title-image {
  transform: rotate(25deg);
  width: 22%;
  position: absolute;
  right: 25%;
}

/* Features Section */

#features {
  padding: 10% 12%;
  position: relative;
  z-index: 1;
}

.fa-4x {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-4x:hover {
  color: #ff4c68;
}

.features-wrap {
  margin: auto;
}

.feature-1, .feature-2, .feature-3 {
  padding: 5%;
}

.features-wrap h3 {
  font-weight: 600;
  font-size: 1.75rem;
}

/* Testimonials Section */

#testimonials {
  padding: 10% 5% 5%;
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.75rem;
}

.testimonial-image {
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

.carousel-item {
  padding: 0 15%;
}

#press {
  background-color: #ef8172;
  padding: 3% 5% 7%;
}

.press-logo {
  width: 15%;
  padding: 0 20px;
}

/* Pricing Section */

#pricing {
  padding: 10% 15% 5%;
}

.pricing-title {
  margin-bottom: 30px;
  font-size: 2.75rem;
}

.pricing-heading {
  margin-bottom: 0;
}

.card-container {
  padding: 3%;
}

.card-wrap {
  padding: 10px;
}

.card-button {
  margin: 5%;
}

/* Call to Action */

#cta {
  padding: 10% 15% 5%;
}

/* Footer */

#footer {
  padding: 10% 15% 5%;
}

.footer-icon {
  padding: 20px 10px;
  color: #000;
}

/* Media Queries */

@media (max-width: 991px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
    margin: 3% 0 0;
  }

}
